dist
.DS_Store
.idea
.out
*.zip
.env
node_modules
tsconfig.tsbuildinfo
.vscode
packages/geometry/node_modules
packages/react-canvas-core/node_modules
packages/react-diagrams/node_modules
packages/react-diagrams-core/node_modules
packages/react-diagrams-defaults/node_modules